

<div id="home_jumbotron">
	<div class="container">
  		<h1>Learning a new language?</h1>
		<h3>Practice with native speakers.</h3><br>

  		<div align="right">
  			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-primary" %>
  		</div>
  		
  	</div>
 </div>


      <div class="learn-more">
      	<div class="container">
	      	<h1>How Enki Works</h1>
		  <div class="container">
			<div class="row">
		      <div class="col-md-4">
				<h3>1. Browse</h3>
				<p>Check out profiles of people who speak the language you're learning and who are trying to learn yours. Select anyone you find interesting.</p>
				<p><a href="#">See how browsing works</a></p>
		      </div>
			  <div class="col-md-4">
				<h3>2. Get Matched</h3>
				<p>Matches occur when you and another user select each other. Who you have selected is completely anonymous until they have selected you too.</p>
				<p><a href="#">Learn more matches</a></p>
			  </div>
			  <div class="col-md-4">
				<h3>3. Talk on Skype</h3>
				<p>Once matched, you and your partner will have each other's Skype names and can start practicing each other's languages!</p>
				<p><a href="http://www.skype.com/">Don't have Skype? Click here</a></p>
			  </div>
		    </div>

	  	  </div>
	  	</div>
	</div>
  
</div>