

<div class="container">

	<div id="profile_view" style="margin-top: 50px;">

		<div id="carousel-example-generic" class="carousel" data-ride="carousel">

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">

		    <div class="item active">
		      <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojN2E3YTdhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
		      <div class="carousel-caption">
		     	<%= avatar_profile_link current_user, {}, class: 'lrg' %>
				<%= current_user.full_name %> 
		     	<div class="centered">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-lg">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<button type="button" class="btn btn-default btn-lg">
							<span class="glyphicon glyphicon-user"></span>
						</button>

						<button type="button" class="btn btn-default btn-lg">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
				</div>
		      </div>
		    </div>
		   
		  </div>

		</div>
	</div>
</div>




