<div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p id="proverb">
                "Learn a new language, and get a new soul."<br />
                     Czech Proverb
              </p>
            </div>
            <div class="col-md-4">
              <h5>Company</h5>
              <h5 class="text-muted credit">About</h5>
              <h5 class="text-muted credit">Blog</h5>
            </div>
            <div class="col-md-4">
              <h5>Support</h5>
              <h5 class="text-muted credit">Contact Us</h5>
              <h5 class="text-muted credit">FAQ</h5>
              <h5 class="text-muted credit">Legal</h5>
            </div>
          </div>
        </div>
        <div id="footer2">
          <div class="row">
            <p class="text-muted credit">Copyright &copy 2014 All rights reserved</p>
          </div>
        </div>
  </div>