<div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p id="proverb">
                "Learn a new language, and get a new soul."<br />
                     Czech Proverb
              </p>
            </div>
            <div class="col-md-4">
              <h4>About</h4>
              <h4>FAQs</h4>
              <h4>Contact</h4>
              <h4>Help</h4>
            </div>
            <div class="col-md-4">
              <h4>Blog</h4>
            </div>
          </div>
        </div>
  </div>